<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">reddit THIS!</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-form">
        <% unless current_user %>
          <form action="<%= user_session_path %>" method='POST'>
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <div class="row collapse">
              <div class="large-4 small-4 columns" style="margin-right: 5px;">
                <input type="email" name="email" placeholder="Email">
              </div>
              <div class="large-5 small-4 columns">
                <input type="password" name="password" placeholder="Password">
              </div>
              <div class="large-2 small-2 columns">
                <button type="submit" name="commit" class="alert button expand">Go</button>
             </div>
            </div>
          </form>
        <% else %>
          <form action="<%= destroy_user_session_path %>" method='POST'>
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input name="_method" type="hidden" value="delete" />
            <div class="large12 small-4 comuns">
              <div class="row collapse">
                <button type="submit" class="alert button expand">LogOut</button>
              </div>
            </div>
          </form>
        <% end %>
        </li>
        
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li >< href="#">Create a New Post</a></li>
      </ul>
    </section>
  </nav>

<div class="row">
  <%= yield %>
</div>

</body>
</html>
